<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>Товары</title>
</head>
<body>

<div class="container" ng-controller="indexController">
    <h3>Список товаров</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Наименование товара</td>
        </tr>
        <tbody>
        <tr ng-repeat="product in productsList">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeProductPrice(product.id, -5)">-</button>
                {{product.price}}
                <button class="btn btn-danger" ng-click="changeProductPrice(product.id, 5)">+</button>
                <button class="btn btn-danger" ng-click="deleteProduct(product.id)">Удалить продукт</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>